rules_version = '2';

service cloud.firestore {
  match /databases/(default)/documents {
    match /accounts/{documentId} {
      allow create:       if (request.auth.uid == documentId);
      allow delete, read: if (request.auth.uid == documentId);
      allow update:       if (request.auth.uid == documentId);
    }
    match /bags/{documentId} {
      allow create:       if (request.auth.uid == request.resource.data.userId);
      allow delete, read: if (request.auth.uid == resource.data.userId);
      allow update:       if (request.auth.uid == resource.data.userId);
    }
    match /productCategories/{documentId} {
      allow read: if true;
    }
    match /stripeCustomers/{documentId} {
      allow create:       if (request.auth.uid == request.resource.data.userId);
      allow delete, read: if (request.auth.uid == resource.data.userId);
      allow update:       if (request.auth.uid == resource.data.userId);
    }
    match /stripePaymentMethods/{documentId} {
      allow create:       if (request.auth.uid == request.resource.data.userId);
      allow delete, read: if (request.auth.uid == resource.data.userId);
      allow update:       if (request.auth.uid == resource.data.userId);
    }
    match /stripePrices/{documentId} {
      allow read: if true;
    }
    match /stripeProducts/{documentId} {
      allow read: if true;
    }
    match /stripeSetupIntents/{documentId} {
      allow create:       if (request.auth.uid == request.resource.data.userId);
      allow delete, read: if (request.auth.uid == resource.data.userId);
      allow update:       if (request.auth.uid == resource.data.userId);
    }
  }
}
