@use 'sass:math'
@import 'normalize.css'

$border-radius: 1rem

$depth-blur:   0.5rem
$depth-offset: $depth-blur * 0.5
$depth-spread: $depth-offset * -1.03125

$grey-factor:       0.5
$dark-theme-factor: 0.8

$primary--canvas--background: hsl(40, 16%, 48%)
$primary--canvas--foreground: hsl(40, 32%, 96%)
$primary--canvas--shadow:     hsl(40, 8%, 24%)
$primary--grey--background:   darken(desaturate($primary--canvas--background, $grey-factor * 12.5%), $grey-factor * 6.25%)
$primary--grey--foreground:   lighten(desaturate($primary--canvas--foreground, $grey-factor * 50%), $grey-factor * 50%)

$body-shade:   4%
$button-shade: 6%
$footer-shade: 2%
$card-shade:   0%

$body--light-canvas--background: hsl(0, 0%, 100% - $body-shade)
$body--light-canvas--foreground: hsl(0, 0%, $body-shade)
$body--light-grey--background:   darken(desaturate($body--light-canvas--background, $grey-factor * 50%), $grey-factor * 25%)
$body--light-grey--foreground:   lighten(desaturate($body--light-canvas--foreground, $grey-factor * 100%), $grey-factor * 100%)
$body--dark-canvas--background:  darken($body--light-canvas--background, $dark-theme-factor * 100%)
$body--dark-canvas--foreground:  lighten($body--light-canvas--foreground, $dark-theme-factor * 100%)
$body--dark-grey--background:    lighten(desaturate($body--dark-canvas--background, $grey-factor * 50%), $grey-factor * 25%)
$body--dark-grey--foreground:    darken(desaturate($body--dark-canvas--foreground, $grey-factor * 100%), $grey-factor * 100%)

$button--light-canvas--background: hsl(0, 0%, 100% - $button-shade)
$button--light-canvas--foreground: hsl(0, 0%, $button-shade)
$button--light-grey--background:   darken(desaturate($button--light-canvas--background, $grey-factor * 50%), $grey-factor * 25%)
$button--light-grey--foreground:   lighten(desaturate($button--light-canvas--foreground, $grey-factor * 100%), $grey-factor * 100%)
$button--dark-canvas--background:  darken($button--light-canvas--background, $dark-theme-factor * 100%)
$button--dark-canvas--foreground:  lighten($button--light-canvas--foreground, $dark-theme-factor * 100%)
$button--dark-grey--background:    lighten(desaturate($button--dark-canvas--background, $grey-factor * 50%), $grey-factor * 25%)
$button--dark-grey--foreground:    darken(desaturate($button--dark-canvas--foreground, $grey-factor * 100%), $grey-factor * 100%)

$card--light-canvas--background: hsl(0, 0%, 100% - $card-shade)
$card--light-canvas--foreground: hsl(0, 0%, $card-shade)
$card--light-grey--background:   darken(desaturate($card--light-canvas--background, $grey-factor * 50%), $grey-factor * 25%)
$card--light-grey--foreground:   lighten(desaturate($card--light-canvas--foreground, $grey-factor * 100%), $grey-factor * 100%)
$card--dark-canvas--background:  darken($card--light-canvas--background, $dark-theme-factor * 100%)
$card--dark-canvas--foreground:  lighten($card--light-canvas--foreground, $dark-theme-factor * 100%)
$card--dark-grey--background:    lighten(desaturate($card--light-grey--background, $grey-factor * 50%), $grey-factor * 25%)
$card--dark-grey--foreground:    darken(desaturate($card--light-grey--foreground, $grey-factor * 100%), $grey-factor * 100%)

$footer--light-canvas--background: hsl(0, 0%, 100% - $footer-shade)
$footer--light-canvas--foreground: hsl(0, 0%, $footer-shade)
$footer--light-grey--background:   darken(desaturate($footer--light-canvas--background, $grey-factor * 50%), $grey-factor * 25%)
$footer--light-grey--foreground:   lighten(desaturate($footer--light-canvas--foreground, $grey-factor * 100%), $grey-factor * 100%)
$footer--dark-canvas--background:  darken($footer--light-canvas--background, $dark-theme-factor * 100%)
$footer--dark-canvas--foreground:  lighten($footer--light-canvas--foreground, $dark-theme-factor * 100%)
$footer--dark-grey--background:    lighten(desaturate($footer--dark-canvas--background, $grey-factor * 50%), $grey-factor * 25%)
$footer--dark-grey--foreground:    darken(desaturate($footer--dark-canvas--foreground, $grey-factor * 100%), $grey-factor * 100%)

$glass--light-canvas--background:  transparentize(darken($body--light-canvas--background, 10%), 0.4)
$glass--light-canvas--border:      transparentize(darken($body--light-canvas--background, 50%), 0.4)
$glass--light-primary--background: transparentize(lighten(desaturate($primary--canvas--background, $grey-factor * 12.5%), $grey-factor * 6.25%), 0.2)
$glass--light-primary--border:     transparentize(lighten(desaturate($primary--canvas--background, $grey-factor * 50%), $grey-factor * 50%), 0.2)
$glass--dark-canvas--background:   transparentize(darken($body--dark-canvas--background, 10%), 0.4)
$glass--dark-canvas--border:       transparentize(darken($body--dark-canvas--background, 50%), 0.4)
$glass--dark-primary--background:  transparentize(lighten(desaturate($primary--canvas--background, $grey-factor * 12.5%), $grey-factor * 6.25%), 0.2)
$glass--dark-primary--border:      transparentize(lighten(desaturate($primary--canvas--background, $grey-factor * 50%), $grey-factor * 50%), 0.2)

html,
body
  font-size: 16px

body
  --border-radius: #{ $border-radius }

  --depth-blur:   #{ $depth-blur }
  --depth-offset: #{ $depth-offset }
  --depth-spread: #{ $depth-spread }

  --primary--canvas--background: #{ $primary--canvas--background }
  --primary--canvas--foreground: #{ $primary--canvas--foreground }
  --primary--canvas--shadow:     #{ $primary--canvas--shadow }
  --primary--grey--background:   #{ $primary--grey--background }
  --primary--grey--foreground:   #{ $primary--grey--foreground }

  --body--canvas--background: #{ $body--light-canvas--background }
  --body--canvas--foreground: #{ $body--light-canvas--foreground }
  --body--grey--background:   #{ $body--light-grey--background }
  --body--grey--foreground:   #{ $body--light-grey--foreground }

  --button--canvas--background: #{ $button--light-canvas--background }
  --button--canvas--foreground: #{ $button--light-canvas--foreground }
  --button--grey--background:   #{ $button--light-grey--background }
  --button--grey--foreground:   #{ $button--light-grey--foreground }

  --card--canvas--background:      #{ $card--light-canvas--background }
  --card--canvas--foreground:      #{ $card--light-canvas--foreground }
  --card--dark-canvas--foreground: #{ $card--dark-canvas--foreground }
  --card--grey--background:        #{ $card--light-grey--background }
  --card--grey--foreground:        #{ $card--light-grey--foreground }

  --footer--canvas--background: #{ $footer--light-canvas--background }
  --footer--canvas--foreground: #{ $footer--light-canvas--foreground }
  --footer--grey--background:   #{ $footer--light-grey--background }
  --footer--grey--foreground:   #{ $footer--light-grey--foreground }

  --glass--background:          #{ $glass--light-canvas--background }
  --glass--border:              #{ $glass--light-canvas--border }
  --glass--primary--background: #{ $glass--light-primary--background }
  --glass--primary--border:     #{ $glass--light-primary--border }

  @media (prefers-color-scheme: dark)
    --body--canvas--background: #{ $body--dark-canvas--background }
    --body--canvas--foreground: #{ $body--dark-canvas--foreground }
    --body--grey--background:   #{ $body--dark-grey--background }
    --body--grey--foreground:   #{ $body--dark-grey--foreground }

    --button--canvas--background: #{ $button--dark-canvas--background }
    --button--canvas--foreground: #{ $button--dark-canvas--foreground }
    --button--grey--background:   #{ $button--dark-grey--background }
    --button--grey--foreground:   #{ $button--dark-grey--foreground }

    --card--canvas--background: #{ $card--dark-canvas--background }
    --card--canvas--foreground: #{ $card--dark-canvas--foreground }
    --card--grey--background:   #{ $card--dark-grey--background }
    --card--grey--foreground:   #{ $card--dark-grey--foreground }

    --footer--canvas--background: #{ $footer--dark-canvas--background }
    --footer--canvas--foreground: #{ $footer--dark-canvas--foreground }
    --footer--grey--background:   #{ $footer--dark-grey--background }
    --footer--grey--foreground:   #{ $footer--dark-grey--foreground }

    --glass--background:          #{ $glass--dark-canvas--background }
    --glass--border:              #{ $glass--dark-canvas--border }
    --glass--primary--background: #{ $glass--dark-primary--background }
    --glass--primary--border:     #{ $glass--dark-primary--border }

  background: var(--body--canvas--background)
  color: var(--body--canvas--foreground)
  display: flex
  flex-direction: row
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif
  justify-content: center

  article,
  section
    display: flex
    flex-direction: column
    gap: 1rem

  form
    display: flex
    flex-direction: column
    gap: 0.875rem

  hgroup
    & > h1,
    & > h2,
    & > h3,
    & > h4
      margin: 0 0 0.875rem

      &:has(+ h2),
      &:has(+ h3),
      &:has(+ h4)
        margin: 0

      &:has(+ p > span.caption:first-child)
        margin-bottom: 1.125rem

    & > p
      font-size: 1.125rem
      margin: 0.875rem 0

      & > span.caption
        align-items: first baseline
        display: inline-flex
        flex-direction: row
        flex-wrap: wrap
        font-size: 1rem
        font-variant: all-small-caps
        gap: 0.875rem
        margin-bottom: 0.875rem

      & > span.content
        display: inline-block

        &::first-letter
          float: left
          font-size: 2.75rem
          font-weight: 200
          line-height: 0.9em
          margin-right: .05em
          vertical-align: top

      &:last-child
        margin: 0.875rem 0 0
