@use 'sass:math'
@import 'normalize.css'

$primary-hue:        129
$primary-saturation: 16%

$primary-shade:          55%
$primary-contrast-shade: 96%
$primary-shadow-shade:   18%

$primary:          hsl($primary-hue, $primary-saturation, $primary-shade)
$primary-contrast: hsl($primary-hue, $primary-saturation * math.div($primary-shade, $primary-contrast-shade), $primary-contrast-shade)
$primary-shadow:   hsl($primary-hue, $primary-saturation * math.div($primary-shade, $primary-shadow-shade), $primary-shadow-shade)

$body-shade:   15%
$button-shade: 30%
$footer-shade: 25%
$card-shade:   20%

$border-radius: 1rem

$grey-factor:       60%
$dark-theme-factor: 80%

$body-background-shade:   100% - ($body-shade - 15)
$button-background-shade: 100% - ($button-shade - 15)
$footer-background-shade: 100% - ($footer-shade - 15)
$card-background-shade:   100% - ($card-shade - 15)

$body-light-foreground:      hsl(0, 0%, $body-shade)
$body-light-background:      hsl(0, 0%, $body-background-shade)
$body-light-foreground-grey: lighten($body-light-foreground, math.div(math.abs($grey-factor + $body-shade), 2))
$body-light-background-grey: darken($body-light-background, math.div(math.abs($grey-factor - $body-shade), 2))

$body-dark-foreground:      lighten($body-light-foreground, $dark-theme-factor)
$body-dark-background:      darken($body-light-background, $dark-theme-factor)
$body-dark-foreground-grey: darken($body-dark-foreground, math.div(math.abs($grey-factor + $body-shade), 2))
$body-dark-background-grey: lighten($body-dark-background, math.div(math.abs($grey-factor - $body-shade), 2))

$button-light-foreground:      hsl(0, 0%, $button-shade)
$button-light-background:      hsl(0, 0%, $button-background-shade)
$button-light-foreground-grey: lighten($button-light-foreground, math.div(math.abs($grey-factor + $button-shade), 2))
$button-light-background-grey: darken($button-light-background, math.div(math.abs($grey-factor - $button-shade), 2))

$button-dark-foreground:      lighten($button-light-foreground, $dark-theme-factor)
$button-dark-background:      darken($button-light-background, $dark-theme-factor)
$button-dark-foreground-grey: darken($button-dark-foreground, math.div(math.abs($grey-factor + $button-shade), 2))
$button-dark-background-grey: lighten($button-dark-background, math.div(math.abs($grey-factor - $button-shade), 2))

$footer-light-foreground:      hsl(0, 0%, $footer-shade)
$footer-light-background:      hsl(0, 0%, $footer-background-shade)
$footer-light-foreground-grey: lighten($footer-light-foreground, math.div(math.abs($grey-factor + $footer-shade), 2))
$footer-light-background-grey: darken($footer-light-background, math.div(math.abs($grey-factor - $footer-shade), 2))

$footer-dark-foreground:      lighten($footer-light-foreground, $dark-theme-factor)
$footer-dark-background:      darken($footer-light-background, $dark-theme-factor)
$footer-dark-foreground-grey: darken($footer-dark-foreground, math.div(math.abs($grey-factor + $footer-shade), 2))
$footer-dark-background-grey: lighten($footer-dark-background, math.div(math.abs($grey-factor - $footer-shade), 2))

$card-light-foreground:      hsl(0, 0%, $card-shade)
$card-light-background:      hsl(0, 0%, $card-background-shade)
$card-light-foreground-grey: lighten($card-light-foreground, math.div(math.abs($grey-factor + $card-shade), 2))
$card-light-background-grey: darken($card-light-background, math.div(math.abs($grey-factor - $card-shade), 2))

$card-dark-foreground:      lighten($card-light-foreground, $dark-theme-factor)
$card-dark-background:      darken($card-light-background, $dark-theme-factor)
$card-dark-foreground-grey: darken($card-dark-foreground, math.div(math.abs($grey-factor + $card-shade), 2))
$card-dark-background-grey: lighten($card-dark-background, math.div(math.abs($grey-factor - $card-shade), 2))

$primary-grey:          darken($primary, math.div(math.abs($grey-factor - $primary-shade), 2))
$primary-contrast-grey: darken($primary-contrast, math.div(math.abs($grey-factor - $primary-contrast-shade), 2))

$glass-light:          transparentize(darken($body-light-background, 10%), math.div(2, 5))
$glass-light-backdrop: transparentize(lighten($body-light-background, 5%), math.div(3, 10))

$glass-dark:          transparentize(darken($body-dark-background, 5%), math.div(2, 5))
$glass-dark-backdrop: transparentize(lighten($body-dark-background, 10%), math.div(3, 10))

$depth-blur:   0.5rem

$depth-offset: $depth-blur * 0.5
$depth-spread: $depth-offset * -1.03125

html,
body
  font-size: 16px

body
  --primary:          #{ $primary }
  --primary-contrast: #{ $primary-contrast }
  --primary-shadow:   #{ $primary-shadow }

  --body-light-foreground:      #{ $body-light-foreground }
  --body-light-background:      #{ $body-light-background }
  --body-light-foreground-grey: #{ $body-light-foreground-grey }
  --body-light-background-grey: #{ $body-light-background-grey }

  --body-dark-foreground:      #{ $body-dark-foreground }
  --body-dark-background:      #{ $body-dark-background }
  --body-dark-foreground-grey: #{ $body-dark-foreground-grey }
  --body-dark-background-grey: #{ $body-dark-background-grey }

  --button-light-foreground:      #{ $button-light-foreground }
  --button-light-background:      #{ $button-light-background }
  --button-light-foreground-grey: #{ $button-light-foreground-grey }
  --button-light-background-grey: #{ $button-light-background-grey }

  --button-dark-foreground:      #{ $button-dark-foreground }
  --button-dark-background:      #{ $button-dark-background }
  --button-dark-foreground-grey: #{ $button-dark-foreground-grey }
  --button-dark-background-grey: #{ $button-dark-background-grey }

  --footer-light-foreground:      #{ $footer-light-foreground }
  --footer-light-background:      #{ $footer-light-background }
  --footer-light-foreground-grey: #{ $footer-light-foreground-grey }
  --footer-light-background-grey: #{ $footer-light-background-grey }

  --footer-dark-foreground:      #{ $footer-dark-foreground }
  --footer-dark-background:      #{ $footer-dark-background }
  --footer-dark-foreground-grey: #{ $footer-dark-foreground-grey }
  --footer-dark-background-grey: #{ $footer-dark-background-grey }

  --card-light-foreground:      #{ $card-light-foreground }
  --card-light-background:      #{ $card-light-background }
  --card-light-foreground-grey: #{ $card-light-foreground-grey }
  --card-light-background-grey: #{ $card-light-background-grey }

  --card-dark-foreground:      #{ $card-dark-foreground }
  --card-dark-background:      #{ $card-dark-background }
  --card-dark-foreground-grey: #{ $card-dark-foreground-grey }
  --card-dark-background-grey: #{ $card-dark-background-grey }

  --primary-grey:          #{ $primary-grey }
  --primary-contrast-grey: #{ $primary-contrast-grey }

  --glass-light:          #{ $glass-light }
  --glass-light-backdrop: #{ $glass-light-backdrop }

  --glass-dark:          #{ $glass-dark }
  --glass-dark-backdrop: #{ $glass-dark-backdrop }

  --depth-blur:   #{ $depth-blur }

  --border-radius: #{ $border-radius }

  --depth-offset: #{ $depth-offset }
  --depth-spread: #{ $depth-spread }

  display: flex
  flex-direction: row
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif
  justify-content: center

  article,
  section
    display: flex
    flex-direction: column
    gap: 1rem

  form
    display: flex
    flex-direction: column
    gap: 0.875rem

  hgroup
    max-width: 30rem

    & > h1,
    & > h2,
    & > h3,
    & > h4
      margin: 0 0 0.875rem

      &:has(+ h2),
      &:has(+ h3),
      &:has(+ h4)
        margin: 0

      &:has(+ p > span.caption:first-child)
        margin-bottom: 1.125rem

    & > p
      font-size: 1.125rem
      margin: 0.875rem 0

      & > span.caption
        align-items: first baseline
        display: inline-flex
        flex-direction: row
        flex-wrap: wrap
        font-size: 1rem
        font-variant: all-small-caps
        gap: 0.875rem
        margin-bottom: 0.875rem

      & > span.content
        display: inline-block

        &::first-letter
          float: left
          font-size: 2.75rem
          font-weight: 200
          line-height: 0.9em
          margin-right: .05em
          vertical-align: top

      &:last-child
        margin: 0.875rem 0 0

  @mixin colors($body-foreground, $body-background)
    background: $body-background
    color: $body-foreground

  @include colors(var(--body-light-foreground), var(--body-light-background))

  @media (prefers-color-scheme: dark)
    @include colors(var(--body-dark-foreground), var(--body-dark-background))
